@page "/personas"
@inject NavigationManager nav
@inject HttpClient Http
<h2>Personas</h2>
<div class="row justify-content-end">
    <MatButtonLink Href="/personas/add" Raised="true">Añadir</MatButtonLink>
</div>
<MatTable Items="@personas" class="mat-elevation-z5">
    <MatTableHeader>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>DNI</th>
        <th>Sexo</th>
        <th>Fecha de nacimiento</th>
        <th>Dirección</th>
        <th>País</th>
        <th>Código Postal</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Nombre</td>
        <td>@context.Apellidos</td>
        <td>@context.DNI</td>  
        <td>@context.Sexo</td>
        <td>@string.Format("${0:f2}", @context.FechaNacimiento)</td>
        <td>@context.Direccion</td>
        <td>@context.Pais</td>
        <td>@context.CodigoPostal</td>
        <td><MatIconButton Icon="delete" OnClick="@(()=>Borrar(context.DNI))"></MatIconButton></td>
        <td><MatIconButton Icon="edit" Link="@("/persona/update/"+context.DNI)"></MatIconButton></td>
    </MatTableRow>
</MatTable>
@code {

}
